html, body {
    height: 100%;
    width: 100%;
}

#checkSSLBox {
    height: 200px;
    transition: 1s;
    color: #1d5896 !important;
}
#sslDetailsCard {
    display: none;
}

.dnsheader {
    background: linear-gradient(315deg,#70cee6,#12298e);
}

input, select, button {
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;

}


